*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: black;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left:40%;

}
.logo{
    width:400px;
    height: 300px;
    background-color:#1E90FF;
    transform:perspective(400px) rotatey(-25deg);
}
.logo:after{
    content: '';
    width:7px;
    height:100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
}
.logo::before{
    content: '';
    width:100%;
    height:7px;
    background-color: black;
    position: absolute;
    top:50%;
    left:0;

}